<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="me.lindanpeng.qunawan.core.dao.ScenicDao">
    <select id="findById" parameterType="long" resultType="me.lindanpeng.qunawan.core.entity.Scenic">
    select * from scenic where id = #{id}
  </select>
    <update id="updateScenic">
        update scenic
        <trim prefix="set" suffixOverrides=",">
            <if test="score != null">
                score=#{score},
            </if>
            <if test="beauty != null">
                beauty=#{beauty},
            </if>
            <if test="ease !=null">
                ease=#{ease},
            </if>
            <if test="humanity !=null">
                humanity=#{humanity},
            </if>
            <if test="romantic !=null">
                romantic=#{romantic},
            </if>
            <if test="excitement!=null">
                excitement=#{excitement},
            </if>
            <if test="name!=null and name!=''">
                `name` =#{name},
            </if>
            <if test="evaluateCount!=null">
                evaluate_count =#{evaluateCount},
            </if>
        </trim>
         where id = #{id}
    </update>
    <select id="listOrderByScore" resultType="me.lindanpeng.qunawan.core.entity.Scenic">
        select * from scenic where 1=1
        <if test="provinceId != null">
            and provinceId = #{provinceId}
        </if>
        <if test="cityId !=null">
            and cityId =#{cityId}
        </if>
        order by score/evaluate_count desc limit #{start},#{size}
    </select>
    <select id="listOrderByCreateTime" resultType="me.lindanpeng.qunawan.core.entity.Scenic">
        select * from scenic where 1=1
        <if test="provinceId != null">
            and provinceId = #{provinceId}
        </if>
        <if test="cityId !=null">
            and cityId =#{cityId}
        </if>
        order by create_time limit #{start},#{size}
    </select>
    <select id="countByCondition" resultType="int">
        select count(*) from scenic where 1=1
        <if test="provinceId != null">
            and provinceId = #{provinceId}
        </if>
        <if test="cityId !=null">
            and cityId =#{cityId}
        </if>
    </select>
    <select id="getScenicsInTime" resultType="me.lindanpeng.qunawan.core.entity.Scenic">
        select * from scenic where 1=1
        and create_time&gt;#{startTime}
        and create_time&lt;=#{endTime}
        limit #{start},#{size}
    </select>
</mapper>