<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="me.lindanpeng.qunawan.core.dao.ViewHistoryDao">
    <insert id="add">
        insert into view_history(user_id,scenic_id,duration)
        values (#{userId},#{scenicId},#{duration})
    </insert>
</mapper>