<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>个人中心</title>
    <!-- 最新版本的 Bootstrap 核心 CSS 文件 -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="../static/css/component/header.css">
    <link rel="stylesheet" href="../static/css/component/panel.css">
    <link rel="stylesheet" href="../static/css/component/scenic-show.css">
    <link rel="stylesheet" href="../static/css/component/scenic-footstep.css">
    <link rel="stylesheet" href="../static/css/component/evaluate-score.css">
    <link rel="stylesheet" href="../static/css/component/evaluate.css">
    <link rel="stylesheet" href="../static/css/page/person.css">
    <link rel="stylesheet" href="../static/css/common.css">
    <script src="https://cdn.bootcss.com/vue/2.5.22/vue.min.js"></script>
</head>
<body>
<div id="root" class="container">
    <div id="header">
        <nav class="navbar navbar-default navbar-fixed-top">
            <div class="row">
                <ul class="nav navbar-nav">
                    <li class="navbar-link front-page-link"><a v-bind:href="INDEX_URL">首页</a></li>
                    <li class="navbar-link"><a v-bind:href="RANK_SCENIC_VIEW_URL">景点排行</a></li>
                    <li class="navbar-link"><a v-bind:href="RECOMMEND_SCENIC_VIEW_URL">猜你喜欢</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">{{user.nickname}}&nbsp;&nbsp;<img
                                class="img-circle" v-bind:src="user.avatar" width="28px" height="28px"></a>
                        <ul class="dropdown-menu">
                            <li><a v-bind:href="HOME_URL">个人中心</a></li>
                            <li><a href="#" @click="doLogout">退出</a></li>
                        </ul>
                    </li>
                </ul>
                <form class="navbar-form navbar-right">
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="要去哪玩鸭">
                        <span class="input-group-addon"><button><span
                                class="glyphicon glyphicon-search"></span></button></span>
                    </div>
                </form>

            </div>
        </nav>
    </div>
    <div id="content">
        <div id="main" class="col-lg-9">
            <div id="profile" class="panel">
                <div class="panel-title"><h2>个人资料</h2></div>
                <hr/>
                <div class="row col-lg-12">
                    <div class="col-lg-2">
                        <img v-bind:src="user.avatar" alt="" class="img-circle" id="avatar">
                    </div>
                    <div class="col-lg-4">
                        <ul>
                            <li>
                                <p class="info-tip">昵称：<span class="info-content">{{user.nickname}}</span></p>
                            </li>
                            <li>
                                <p class="info-tip">地区：<span class="info-content">{{user.location}}</span></p>
                            </li>
                            <li>
                                <p class="info-tip">性别：<span class="info-content">{{user.gender}}</span></p>
                            </li>
                            <li>
                                <p class="info-tip">生日：<span class="info-content">{{user.birthday}}</span></p>
                            </li>
                        </ul>
                        <div style="clear:both"></div>
                    </div>
                    <div class="col-lg-4">
                        <ul>
                            <li>
                                <p class="info-tip">身份：<span class="info-content">{{user.identity}}</span></p>
                            </li>
                        </ul>
                        <div style="clear:both"></div>
                    </div>
                </div>
            </div>
            <!--<div id="like" class="panel">-->
                <!--<div class="panel-title"><h2>我的喜欢<span><a class="panel-title-showall pull-right" href="#">>>展示全部&nbsp;&nbsp;</a></span>-->
                <!--</h2></div>-->
                <!--<hr/>-->
                <!--<div class="scenic-show-content">-->
                    <!--<ul>-->
                        <!--<li class="scenic-show-li pull-left col-lg-3">-->

                            <!--<div class="scenic-thumbnail">-->
                                <!--<img src="https://bbswater-fd.zol-img.com.cn/t_s1200x5000/g5/M00/00/08/ChMkJlvHN7iIJ-4tAAQ0vpQTX9UAAsi5QIRy6kABDTW666.jpg">-->
                                <!--<p class="scenic-name">广州塔</p>-->
                            <!--</div>-->

                            <!--<div class="scenic-score">-->
                                <!--<p>5.0</p>-->
                            <!--</div>-->

                        <!--</li>-->

                    <!--</ul>-->
                    <!--<div style="clear:both"></div>-->
                <!--</div>-->
            <!--</div>-->
            <div id="my-evaluate" class="panel">
                    <div class="panel-title"><h2>我的评价<span><a class="panel-title-showall pull-right" href="#">>>查看全部&nbsp;&nbsp;</a></span>
                    </h2></div>
                    <hr/>
                <ul class="evaluate-list">
                    <li class="evaluate-li" v-for="evaluate in evaluates">
                        <div class="media evaluate-content">
                            <div class="media-left">
                                <a href="#">
                                    <img class="media-object"
                                         v-bind:src="evaluate.avatar"
                                         v-bind:alt="evaluate.nickname">
                                </a>
                            </div>
                            <div class="media-body">
                                <h5 class="media-heading"><span>点评了</span>
                                    <span>{{evaluate.scenicName}}</span>
                                </h5>
                                <p class="star">
                                    <span class="vote-star"><i v-bind:style="'width:'+evaluate.score*20+'%'"></i></span><span
                                        class="vote-number"><span class="scenic-num">{{evaluate.score}}</span>分</span>
                                </p>
                                <p>单项评分：
                                    <span>美丽：{{evaluate.beauty}}</span>
                                    &nbsp;&nbsp;
                                    <span>浪漫：{{evaluate.romantic}}</span>
                                    &nbsp;&nbsp;
                                    <span>休闲：{{evaluate.ease}}</span>
                                    &nbsp;&nbsp;
                                    <span>人文：{{evaluate.humanity}}</span>
                                    &nbsp;&nbsp;
                                    <span>兴奋：{{evaluate.excitement}}</span>
                                </p>
                                <p class="evaluate-remark">
                                    {{evaluate.content}}
                                </p>
                                <p>适合人群：{{evaluate.people}}</p>
                                <p class="evaluate-time">{{evaluate.createTime}}</p>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
        <div id="right" class="col-lg-3">
                <div id="footstep" class="panel">
                <div class="panel-title"><h2>我的足迹</h2></div>
                <hr/>
                    <ul>
                        <li v-for="scenic in scenics" class="scenic-footstep-li">
                            <div class="media">
                                <div class="media-left">
                                    <a href="#">
                                            <img class="media-object" v-bind:src="scenic.thumbnail" alt="...">
                                    </a>
                                </div>
                                <div class="media-body">
                                    <h5 class="media-heading">{{scenic.name}}</h5>
                                    <p class="scenic-location">[{{scenic.location}}]</p>
                                    <br>
                                    <p><span><span class="scenic-num">{{scenic.likeNum}}</span>人喜欢</span></span>&nbsp;&nbsp;<span><span class="scenic-num">{{scenic.evaluateNum}}</span>人点评</span></p>

                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
    </div>

</div>
<script src="https://cdn.bootcss.com/jquery/3.2.1/jquery.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
<script src="https://cdn.bootcss.com/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
<!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/js/bootstrap.min.js"
        integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
        crossorigin="anonymous"></script>
<script src="https://cdn.bootcss.com/axios/0.18.0/axios.min.js"></script>
<script src="../static/js/common.js"></script>
<script>
    var app = new Vue({
        el: '#root',
        data: {

            user: {},
            scenics:[
                {
                    thumbnail:"http://www.ilvping.com/data/uploads/2010/10/20101029_100214d5b194.jpg",
                    name:"壶瓶山",
                    location:"湖南省常德市",
                    likeNum:5,
                    evaluateNum:10,
                    score:2.6
                },
                {
                    thumbnail:"http://www.ilvping.com/data/uploads/2011/03/20110302_1600321c6903.jpg",
                    name:"绳金塔",
                    location:"江西省南昌市",
                    likeNum:5,
                    evaluateNum:10,
                    scenic:5
                }
            ],
            evaluates:[]
        },
        created: function () {
            _this = this
            //加载用户数据
            axios.get(USER_INFO_URL).then(function (response) {
                if (response.status == 200) {
                    if (response.data.code == 0) {
                        // console.log(response.data.data);
                        _this.user = response.data.data;
                    } else {
                        alert(response.data.message);
                    }
                } else {
                    alert("服务器错误");
                }
            }).then(function () {
                uid=_this.user.userId
                axios.get(USER_EVALUATE_DATA_URL + "?userId=" + uid).then(function (response) {
                    if (response.status == 200) {
                        if (response.data.code == 0) {
                            console.log(response.data.data);
                            _this.evaluates = response.data.data;
                        } else {
                            alert(response.data.message);
                        }
                    } else {
                        alert("服务器错误");
                    }
                })
            })

        },
        methods: {
            doLogout: function () {
                axios.get(LOGOUT_URL).then(function (response) {
                    if (response.status == 200) {
                        if (response.data.code == 0) {
                            console.log(response.data.data.content);
                            window.location = LOGIN_URL;
                        } else {
                            alert(response.data.message);
                        }
                    } else {
                        alert("服务器错误");
                    }
                })
            }
        }
    })
</script>
</body>
</html>