<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>景点排行</title>
    <!-- element UI -->
    <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
    <!-- 最新版本的 Bootstrap 核心 CSS 文件 -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="../static/css/component/panel.css">
    <link rel="stylesheet" href="../static/css/component/header.css">
    <link rel="stylesheet" href="../static/css/component/scenic-rank.css">
    <link rel="stylesheet" href="../static/css/component/scenic-show.css">
    <link rel="stylesheet" href="../static/css/component/pagination-wrapper.css">
    <link rel="stylesheet" href="../static/css/component/evaluate-score.css">
    <link rel="stylesheet" href="../static/css/common.css">
    <link rel="stylesheet" href="../static/css/page/rank.css">
    <script src="https://cdn.bootcss.com/vue/2.5.22/vue.min.js"></script>
</head>
<body>
<div id="root" class="container">
    <div id="header">
        <nav class="navbar navbar-default navbar-fixed-top">
            <div class="row">
                <ul class="nav navbar-nav">
                    <li class="navbar-link front-page-link"><a v-bind:href="constant.INDEX_URL">首页</a></li>
                    <li class="navbar-link"><a v-bind:href="constant.HOT_SCENIC_VIEW_URL">最热</a></li>
                    <li class="navbar-link"><a b-bind:href="constant.NEW_SCENIC_VIEW_URL">最新</a></li>
                    <li class="navbar-link"><a v-bind:href="constant.RECOMMEND_SCENIC_VIEW_URL">猜你喜欢</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">{{user.nickname}}&nbsp;&nbsp;<img
                                class="img-circle" v-bind:src="user.avatar" width="28px" height="28px"></a>
                        <ul class="dropdown-menu">
                            <li><a v-bind:href="constant.HOME_URL">个人中心</a></li>
                            <li><a v-bind:href="constant.LOGOUT_URL">退出</a></li>
                        </ul>
                    </li>
                </ul>
                <form class="navbar-form navbar-right">
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="要去哪玩鸭">
                        <span class="input-group-addon"><button><span
                                class="glyphicon glyphicon-search"></span></button></span>
                    </div>
                </form>

            </div>
        </nav>
    </div>
    <div id="main" class="col-lg-9">
        <div class="scenic-rank panel">
            <div class="panel-title"><h2>热门景点<span></span>
            </h2></div>
            <hr/>
            <ul>
                <li v-for="scenic in pageResult.content" class="scenic-rank-li">
                    <div class="media">
                        <div class="media-left">
                            <a href="#">
                                <img class="media-object" v-bind:src="scenic.thumbnail" v-bind:alt="scenic.name">
                            </a>

                        </div>
                        <div class="media-body">
                            <div class="col-lg-6">
                                <h4 class="media-heading">{{scenic.name}}</h4>
                                <p class="scenic-location">[{{scenic.province+' '+scenic.city}}]</p>
                                <div class="scenic-score">

                                    <p class="star">
                                    <span class="vote-star"><i v-bind:style="'width:'+scenic.score*20+'%'"></i></span><span
                                            class="vote-number"><span class="scenic-num">{{scenic.score}}</span>分</span>
                                    </p>
                                </div>
                                <p><span><span
                                        class="scenic-num">{{scenic.likeCount}}</span>人喜欢</span></span>&nbsp;&nbsp;<span><span
                                        class="scenic-num">{{scenic.evaluateCount}}</span>人点评</span></p>
                            </div>
                            <div class="col-lg-3 col-lg-offset-1">
                                <ul>
                                    <li>
                                        <span class="pull-left single-score">美丽：</span><span class="scenic-num">{{scenic.beauty}}</span>
                                    </li>
                                    <li>
                                        <span class="pull-left single-score">休闲：</span><span class="scenic-num">{{scenic.ease}}</span>
                                    </li>
                                    <li>
                                        <span class="pull-left single-score">刺激：</span><span class="scenic-num">{{scenic.excitement}}</span>
                                    </li>
                                    <li>
                                        <span class="pull-left single-score">人文：</span><span class="scenic-num">{{scenic.humanity}}</span>
                                    </li>
                                    <li>
                                        <span class="pull-left single-score">浪漫：</span><span class="scenic-num">{{scenic.romantic}}</span>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="scenic-description">
                        <p>{{cutString(scenic.description,200)}}</p>
                        <a v-bind:href="SCENIC_DETAIL_VIEW_URL+'?scenicId='+scenic.id" class="scenic-show-detail">>>更多</a>
                    </div>
                </li>

            </ul>
        </div>
        <div class="pagination-wrapper">
            <el-pagination
                    background
                    layout="prev, pager, next"
                    :total="pageResult.recordTotal"
                    :page-size="pageResult.pageSize"
                    :current-page="pageResult.currentPage"
                    @current-change="handleCurrentChange">
            </el-pagination>
        </div>
    </div>
    <div id="right" class="col-lg-3">
        <div class="panel">
            <div class="panel-title"><h2>筛选条件</h2></div>
            <hr/>
                <el-select v-model="searchCondition.provinceId" placeholder="请选择">
                    <el-option
                            v-for="province in provinces"
                            :key="province.id"
                            :label="province.name"
                            :value="province.id">
                    </el-option>
                </el-select>
        </div>

    </div>
</div>
<script src="https://cdn.bootcss.com/jquery/3.2.1/jquery.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
<script src="https://cdn.bootcss.com/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
<!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/js/bootstrap.min.js"
        integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
        crossorigin="anonymous"></script>
<script src="https://cdn.bootcss.com/axios/0.18.0/axios.min.js"></script>
<script src="https://unpkg.com/element-ui/lib/index.js"></script>
<script src="../static/js/common.js"></script>
<script>
    debugger;
    var app = new Vue({
        el: '#root',
        data: {
            constant: {
                INDEX_URL: INDEX_URL,
                SCENIC_DATA_URL: SCENIC_PREVIEW_DATA_URL,
                HOT_SCENIC_VIEW_URL: SCENIC_PREVIEW_VIEW_URL+"?type=0",
                NEW_SCENIC_VIEW_URL: SCENIC_PREVIEW_VIEW_URL+"?type=1",
                RECOMMEND_SCENIC_VIEW_URL: SCENIC_PREVIEW_VIEW_URL+"?type=2",
                NEW_EVALUATE_VIEW_URL: NEW_EVALUATE_VIEW_URL,
                HOME_URL: HOME_URL,
                LOGOUT_URL: LOGOUT_URL
            },
            searchCondition:{
              provinceId:"",
              cityId:"",
              keyWord:"",
            },
            provinces:[],
            user:{},
            // states: ["Alabama", "Alaska", "Arizona",
            //     "Arkansas", "California", "Colorado",
            //     "Connecticut", "Delaware", "Florida",
            //     "Georgia", "Hawaii", "Idaho", "Illinois",
            //     "Indiana", "Iowa", "Kansas", "Kentucky",
            //     "Louisiana", "Maine", "Maryland",
            //     "Massachusetts", "Michigan", "Minnesota",
            //     "Mississippi", "Missouri", "Montana",
            //     "Nebraska", "Nevada", "New Hampshire",
            //     "New Jersey", "New Mexico", "New York",
            //     "North Carolina", "North Dakota", "Ohio",
            //     "Oklahoma", "Oregon", "Pennsylvania",
            //     "Rhode Island", "South Carolina",
            //     "South Dakota", "Tennessee", "Texas",
            //     "Utah", "Vermont", "Virginia",
            //     "Washington", "West Virginia", "Wisconsin",
            //     "Wyoming"],
            pageResult: {},
            evaluates:{}
        },
        created: function () {

            _this=this
            //加载用户数据
            axios.get(USER_INFO_URL).then(function (response) {
                if (response.status == 200) {
                    if (response.data.code == 0) {
                        console.log(response.data.data);
                        _this.user = response.data.data;
                    } else {
                        alert(response.data.message);
                    }
                } else {
                    alert("服务器错误");
                }
            })
            //加载热门景点数据
            t=getQueryVariable("type")
            axios.get(SCENIC_RANK_DATA_URL + "?type="+t).then(function (response) {
                if (response.status == 200) {
                    if (response.data.code == 0) {
                        console.log(response.data.data);
                        _this.pageResult = response.data.data;
                    } else {
                        alert(response.data.message);
                    }
                } else {
                    alert("服务器错误");
                }
            })
            //加载城市
            axios.get()
        },
        methods: {
            handleCurrentChange:function(val) {
                console.log(val)
                var currentPage=val;
                typ=getQueryVariable("type")
                _this=this
                axios.get(SCENIC_RANK_DATA_URL + "?type="+typ+"&currentPage="+currentPage).then(function (response) {
                    if (response.status == 200) {
                        if (response.data.code == 0) {
                            console.log(response.data.data);
                            _this.pageResult = response.data.data;
                        } else {
                            alert(response.data.message);
                        }
                    } else {
                        alert("服务器错误");
                    }
                })
            },
            remoteMethod: function (query) {
                // if (query !== '') {
                //     this.loading = true;
                //     setTimeout(() => {
                //         this.loading = false;
                //     this.options4 = this.list.filter(item = > {
                //         return item.label.toLowerCase()
                //             .indexOf(query.toLowerCase()) > -1;
                // })
                //     ;
                // },
                //     200
                // )
                //     ;
                // } else {
                //     this.options4 = [];
                // }
            },
        }

    });
</script>
</body>
</html>