<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>景点排行</title>
    <!-- element UI -->
    <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
    <!-- 最新版本的 Bootstrap 核心 CSS 文件 -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="../static/css/component/panel.css">
    <link rel="stylesheet" href="../static/css/component/header.css">
    <link rel="stylesheet" href="../static/css/component/scenic-rank.css">
    <link rel="stylesheet" href="../static/css/component/scenic-show.css">
    <link rel="stylesheet" href="../static/css/component/pagination-wrapper.css">
    <link rel="stylesheet" href="../static/css/component/evaluate-score.css">
    <link rel="stylesheet" href="../static/css/common.css">
    <link rel="stylesheet" href="../static/css/page/rank.css">
    <script src="https://cdn.bootcss.com/vue/2.5.22/vue.min.js"></script>
</head>
<body>
<div id="root" class="container">
    <div id="header">
        <nav class="navbar navbar-default navbar-fixed-top">
            <div class="row">
                <ul class="nav navbar-nav">
                    <li class="navbar-link front-page-link"><a v-bind:href="INDEX_URL">首页</a></li>
                    <li class="navbar-link"><a v-bind:href="RANK_SCENIC_VIEW_URL">景点排行</a></li>
                    <li class="navbar-link"><a v-bind:href="RECOMMEND_SCENIC_VIEW_URL">猜你喜欢</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">{{user.nickname}}&nbsp;&nbsp;<img
                                class="img-circle" v-bind:src="user.avatar" width="28px" height="28px"></a>
                        <ul class="dropdown-menu">
                            <li><a v-bind:href="HOME_URL">个人中心</a></li>
                            <li><a v-bind:href="LOGOUT_URL">退出</a></li>
                        </ul>
                    </li>
                </ul>
                <form class="navbar-form navbar-right">
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="要去哪玩鸭">
                        <span class="input-group-addon"><button><span
                                class="glyphicon glyphicon-search"></span></button></span>
                    </div>
                </form>

            </div>
        </nav>
    </div>
    <div id="main" class="col-lg-9">
        <div class="scenic-rank panel">
            <div class="panel-title"><h2>景点排行<span></span>
            </h2></div>
            <hr/>
            <ul>
                <li v-for="scenic in pageResult.content" class="scenic-rank-li">
                    <div class="media">
                        <div class="media-left">
                            <a href="#">
                                <img class="media-object" v-bind:src="scenic.thumbnail" v-bind:alt="scenic.name">
                            </a>

                        </div>
                        <div class="media-body">
                            <div class="col-lg-6">
                                <h4 class="media-heading">{{scenic.name}}</h4>
                                <p class="scenic-location">[{{scenic.province+' '+scenic.city}}]</p>
                                <div class="scenic-score">

                                    <p class="star">
                                    <span class="vote-star"><i v-bind:style="'width:'+scenic.score*20+'%'"></i></span><span
                                            class="vote-number"><span class="scenic-num">{{scenic.score}}</span>分</span>
                                    </p>
                                </div>
                                <p><span><span
                                        class="scenic-num">{{scenic.likeCount}}</span>人喜欢</span></span>&nbsp;&nbsp;<span><span
                                        class="scenic-num">{{scenic.evaluateCount}}</span>人点评</span></p>
                            </div>
                            <div class="col-lg-3 col-lg-offset-1">
                                <ul>
                                    <li>
                                        <span class="pull-left single-score">美丽：</span><span class="scenic-num">{{scenic.beauty}}</span>
                                    </li>
                                    <li>
                                        <span class="pull-left single-score">休闲：</span><span class="scenic-num">{{scenic.ease}}</span>
                                    </li>
                                    <li>
                                        <span class="pull-left single-score">刺激：</span><span class="scenic-num">{{scenic.excitement}}</span>
                                    </li>
                                    <li>
                                        <span class="pull-left single-score">人文：</span><span class="scenic-num">{{scenic.humanity}}</span>
                                    </li>
                                    <li>
                                        <span class="pull-left single-score">浪漫：</span><span class="scenic-num">{{scenic.romantic}}</span>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="scenic-description">
                        <p>{{cutString(scenic.description,200)}}</p>
                        <a v-bind:href="SCENIC_DETAIL_VIEW_URL+'?scenicId='+scenic.id" class="scenic-show-detail">>>更多</a>
                    </div>
                </li>

            </ul>
        </div>
        <div class="pagination-wrapper">
            <el-pagination
                    background
                    layout="prev, pager, next"
                    :total="pageResult.recordTotal"
                    :page-size="pageResult.pageSize"
                    :current-page="pageResult.currentPage"
                    @current-change="handleCurrentChange">
            </el-pagination>
        </div>
    </div>
    <div id="right" class="col-lg-3">
        <div class="panel">
            <div class="panel-title"><h2>筛选条件</h2></div>
            <hr/>
            <p><span>省&nbsp;&nbsp;&nbsp;份：</span>
                <el-select  v-model="searchCondition.provinceId" clearable placeholder="请选择" @clear="clearProvince" @change="loadCities" >
                    <el-option
                            v-for="province in provinces"
                            :key="province.id"
                            :label="province.name"
                            :value="province.id"
                            >
                    </el-option>
                </el-select>
                </p>
            <p><span>城&nbsp;&nbsp;&nbsp;市：</span>
                <el-select v-model="searchCondition.cityId" clearable placeholder="请选择">
                    <el-option
                            v-for="city in cities"
                            :key="city.id"
                            :label="city.name"
                            :value="city.id">
                    </el-option>
                </el-select>
            </p>
            <p> <span>关键词：</span>
                <el-input v-model="searchCondition.keyWord" placeholder="请输入内容" style="width:190px"></el-input>
            </p>
            <p style="text-align: center;">
            <el-button @click="doSearch" style="width: 90%;">进行筛选</el-button>
            </p>

        </div>

    </div>
</div>
<script src="https://cdn.bootcss.com/jquery/3.2.1/jquery.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
<script src="https://cdn.bootcss.com/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
<!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/js/bootstrap.min.js"
        integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
        crossorigin="anonymous"></script>
<script src="https://cdn.bootcss.com/axios/0.18.0/axios.min.js"></script>
<script src="https://unpkg.com/element-ui/lib/index.js"></script>
<script src="../static/js/common.js"></script>
<script>
    var app = new Vue({
        el: '#root',
        data: {

            searchCondition:{
              provinceId:undefined,
              cityId:undefined,
              keyWord:"",
            },
            provinces:[],
            cities:[],
            user:{},
            pageResult: {},
            evaluates:{}
        },
        created: function () {

            var _this=this
            //加载用户数据
            axios.get(USER_INFO_URL).then(function (response) {
                if (response.status == 200) {
                    if (response.data.code == 0) {
                        console.log(response.data.data);
                        _this.user = response.data.data;
                    } else {
                        alert(response.data.message);
                    }
                } else {
                    alert("服务器错误");
                }
            })

            axios.post(RANK_SCENIC_RANK_DATA_URL).then(function (response) {
                if (response.status == 200) {
                    if (response.data.code == 0) {
                        console.log(response.data.data);
                        _this.pageResult = response.data.data;
                    } else {
                        alert(response.data.message);
                    }
                } else {
                    alert("服务器错误");
                }
            })
            //加载省份
            axios.get(LOAD_PROVINCE_URL).then(function (response) {
                if (response.status == 200) {
                    if (response.data.code == 0) {
                        console.log(response.data.data);
                        _this.provinces = response.data.data;
                    } else {
                        alert(response.data.message);
                    }
                } else {
                    alert("服务器错误");
                }
            })
        },
        methods: {
            handleCurrentChange:function(val) {
                console.log(val)
                var postData=new Object();
                postData.currentPage=val;
                postData.provinceId=this.searchCondition.provinceId;
                postData.cityId=this.searchCondition.cityId;
                postData.keyWord=this.searchCondition.keyWord;
                var _this=this
                axios.post(RANK_SCENIC_RANK_DATA_URL,postData).then(function (response) {
                    if (response.status == 200) {
                        if (response.data.code == 0) {
                            console.log(response.data.data);
                            _this.pageResult = response.data.data;
                        } else {
                            alert(response.data.message);
                        }
                    } else {
                        alert("服务器错误");
                    }
                })
            },
            clearProvince:function(){
                console.log("clear Province")
                this.searchCondition.provinceId=undefined;
            },
            loadCities:function(provinceId){
                console.log(provinceId)
                if (provinceId==undefined||provinceId=="")
                    return;
                var _this=this
                _this.searchCondition.cityId=undefined;
                //加载城市
                axios.get(LOAD_CITY_URL+"?provinceId="+provinceId).then(function (response) {
                    if (response.status == 200) {
                        if (response.data.code == 0) {
                            console.log(response.data.data);
                            _this.cities = response.data.data;
                        } else {
                            alert(response.data.message);
                        }
                    } else {
                        alert("服务器错误");
                    }
                })
            },
            doSearch:function () {
                var _this=this;
                var postData=new Object();
                postData.provinceId=this.searchCondition.provinceId;
                postData.cityId=this.searchCondition.cityId;
                postData.keyWord=this.searchCondition.keyWord;
                console.log(postData.keyWord);
                axios.post(RANK_SCENIC_RANK_DATA_URL,postData).then(function (response) {
                    if (response.status == 200) {
                        if (response.data.code == 0) {
                            console.log(response.data.data);
                            _this.pageResult = response.data.data;

                        } else {
                            alert(response.data.message);
                        }
                    } else {
                        alert("服务器错误");
                    }
                })
            }

        }

    });
</script>
</body>
</html>