<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>景点详情</title>
    <!-- 最新版本的 Bootstrap 核心 CSS 文件 -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="../static/css/page/index.css">
    <link rel="stylesheet" href="../static/css/component/scenic-show.css">
    <link rel="stylesheet" href="../static/css/component/evaluate.css">
    <link rel="stylesheet" href="../static/css/component/panel.css">
    <link rel="stylesheet" href="../static/css/component/header.css">
    <link rel="stylesheet" href="../static/css/component/scenic-show.css">
    <link rel="stylesheet" href="../static/css/component/scenic-nearby.css">
    <link rel="stylesheet" href="../static/css/component/evaluate-score.css">
    <link rel="stylesheet" href="../static/css/page/scenic-detail.css">
    <link rel="stylesheet" href="../static/css/common.css">
    <script src="https://cdn.bootcss.com/vue/2.5.22/vue.min.js"></script>
</head>
<body>
<div id="root" class="container">
    <div id="header">
        <nav class="navbar navbar-default navbar-fixed-top">
            <div class="row">
                <ul class="nav navbar-nav">
                    <li class="navbar-link front-page-link"><a v-bind:href="INDEX_URL">首页</a></li>
                    <li class="navbar-link"><a v-bind:href="RANK_SCENIC_VIEW_URL">景点排行</a></li>
                    <li class="navbar-link"><a v-bind:href="RECOMMEND_SCENIC_VIEW_URL">猜你喜欢</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">{{user.nickname}}&nbsp;&nbsp;<img
                                class="img-circle" v-bind:src="user.avatar" width="28px" height="28px"></a>
                        <ul class="dropdown-menu">
                            <li><a v-bind:href="HOME_URL">个人中心</a></li>
                            <li><a v-bind:href="LOGOUT_URL">退出</a></li>
                        </ul>
                    </li>
                </ul>
                <form class="navbar-form navbar-right">
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="要去哪玩鸭">
                        <span class="input-group-addon"><button><span
                                class="glyphicon glyphicon-search"></span></button></span>
                    </div>
                </form>

            </div>
        </nav>
    </div>
    <div id="main" class="col-lg-12">
        <div id="scenic-detail" class="panel">
            <div class="panel-title"><h2>景点详情</h2></div>
            <hr/>
            <div class="row">
                <!--轮播图-->
                <div class="col-lg-4">
                    <div id="scenic-images" class="carousel slide">
                        <!-- 轮播（Carousel）指标 -->
                        <ol class="carousel-indicators">
                            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                            <li data-target="#myCarousel" data-slide-to="1"></li>
                            <li data-target="#myCarousel" data-slide-to="2"></li>
                        </ol>
                        <!-- 轮播（Carousel）项目 -->
                        <div class="carousel-inner">

                            <div v-for="(imageUrl,index) in scenicDetail.imgUrls" v-bind:class="index==0?'active':''"
                                 class="item scenic-detail-img">
                                <img v-bind:src="imageUrl">
                            </div>
                        </div>
                        <!-- 轮播（Carousel）导航 -->
                        <a class="left carousel-control" href="#scenic-images" role="button" data-slide="prev">
                            <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                            <span class="sr-only">Previous</span>
                        </a>
                        <a class="right carousel-control" href="#scenic-images" role="button" data-slide="next">
                            <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                            <span class="sr-only">Next</span>
                        </a>
                    </div>
                </div>
                <!--信息-->
                <div class="col-lg-8">
                    <h2>{{scenicDetail.name}}</h2>
                    <div class="col-lg-6 scenic-detail-info">
                        <p><span>{{scenicDetail.province}}</span><span>{{scenicDetail.city}}</span></p>
                        <p><span class="scenic-location">[{{scenicDetail.location}}]</span></p>
                        <p class="star">
                            <span class="vote-star"><i v-bind:style="'width:'+scenicDetail.score*20+'%'"></i></span><span
                                class="vote-number"><span class="scenic-num">{{scenicDetail.score}}</span>分</span>
                        </p>
                        <p><span class="scenic-num">{{scenicDetail.likeCount}}</span>人喜欢&nbsp;&nbsp;<span class="scenic-num">{{scenicDetail.evaluateCount}}</span>人点评
                        </p>
                        <p style="font-size: 16px">门票：<span class="scenic-price">{{scenicDetail.price}}</span></p>
                    </div>
                    <div class="col-lg-6 scenic-detail-info">
                        <ul>
                            <li class="pull-left single-score">
                                <span>美丽：</span><span class="scenic-num">{{scenicDetail.beauty}}</span>
                            </li>
                            <li>
                                <span class="pull-left single-score">休闲：</span><span
                                    class="scenic-num">{{scenicDetail.ease}}</span>
                            </li>
                            <li>
                                <span class="pull-left single-score">刺激：</span><span class="scenic-num">{{scenicDetail.excitement}}</span>
                            </li>
                            <li>
                                <span class="pull-left single-score">人文：</span><span class="scenic-num">{{scenicDetail.humanity}}</span>
                            </li>
                            <li>
                                <span class="pull-left single-score">浪漫：</span><span class="scenic-num">{{scenicDetail.romantic}}</span>
                            </li>
                        </ul>
                    </div>
                </div>

            </div>

        </div>
        <div id="scenic-intro" class="panel">
            <div class="panel-title"><h2>景点描述</h2></div>
            <hr/>
            <div v-html="scenicDetail.description">

            </div>
        </div>
        <div id="scenic-evaluate" class="panel">
            <div class="panel-title"><h2>景点评价<a class="panel-title-showall pull-right" v-bind:href="NEW_EVALUATE_VIEW_URL+'?scenicId='+getQueryVariable('scenicId')">>>查看全部&nbsp;&nbsp;</a></h2></div>
            <hr/>
            <div>
                <ul class="evaluate-list">
                    <li class="evaluate-li" v-for="evaluate in evaluates">
                        <div class="media evaluate-content">
                            <div class="media-left">
                                <a href="#">
                                    <img class="media-object"
                                         v-bind:src="evaluate.avatar"
                                         v-bind:alt="evaluate.nickname">
                                </a>
                            </div>
                            <div class="media-body">
                                <h5 class="media-heading">{{evaluate.nickname}} <span>点评了</span> <span>{{evaluate.scenicName}}</span>
                                </h5>
                                <p class="star">
                                    <span class="vote-star"><i v-bind:style="'width:'+evaluate.score*20+'%'"></i></span><span
                                        class="vote-number"><span class="scenic-num">{{evaluate.score}}</span>分</span>
                                </p>
                                <p class="evaluate-remark">
                                    {{evaluate.content}}
                                <p class="evaluate-time">{{evaluate.createTime}}</p>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <!--<div id="right" class="col-lg-3">-->
        <!--<div id="nearbyScenic" class="panel">-->
            <!--<div class="panel-title"><h2>附近景点</h2></div>-->
            <!--<hr/>-->
            <!--<ul>-->
                <!--<li v-for="scenic in nearbyScenics" class="scenic-nearby-li">-->
                    <!--<div class="media">-->
                        <!--<div class="media-left">-->
                            <!--<a href="#">-->
                                <!--<img class="media-object" v-bind:src="scenicDetail.thumbnail" alt="...">-->
                            <!--</a>-->
                        <!--</div>-->
                        <!--<div class="media-body">-->
                            <!--<h5 class="media-heading">{{scenicDetail.name}}</h5>-->
                            <!--<p class="scenic-location">[{{scenicDetail.location}}]</p>-->
                            <!--<br>-->
                            <!--<p><span><span class="scenic-num">{{scenicDetail.likeNum}}</span>人喜欢</span></span>&nbsp;&nbsp;<span><span class="scenic-num">{{scenicDetail.evaluateNum}}</span>人点评</span></p>-->

                        <!--</div>-->
                    <!--</div>-->
                <!--</li>-->
            <!--</ul>-->
        <!--</div>-->
    </div>
</div>
<script src="https://cdn.bootcss.com/jquery/3.2.1/jquery.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
<script src="https://cdn.bootcss.com/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
<!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/js/bootstrap.min.js"
        integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
        crossorigin="anonymous"></script>
<script src="https://cdn.bootcss.com/axios/0.18.0/axios.min.js"></script>
<script src="../static/js/common.js"></script>
<script>
    var app = new Vue({
        el: '#root',
        data: {
            scenicDetail:[],
            evaluates: [],
            user:{},
            nearbyScenics: [
                {
                    thumbnail:"https://bbswater-fd.zol-img.com.cn/t_s1200x5000/g5/M00/00/08/ChMkJlvHN7iIJ-4tAAQ0vpQTX9UAAsi5QIRy6kABDTW666.jpg",
                    name:"广州塔",
                    location:"广东省广州市",
                    likeNum:5,
                    evaluateNum:10,
                    score:5
                },
                {
                    thumbnail:"https://bbswater-fd.zol-img.com.cn/t_s1200x5000/g5/M00/00/08/ChMkJlvHN7iIJ-4tAAQ0vpQTX9UAAsi5QIRy6kABDTW666.jpg",
                    name:"广州塔",
                    location:"广东省广州市",
                    likeNum:5,
                    evaluateNum:10,
                    scenic:5
                }
            ]
        },
        created:function () {
            //加载用户数据
            axios.get(USER_INFO_URL).then(function (response) {
                if (response.status == 200) {
                    if (response.data.code == 0) {
                        console.log(response.data.data);
                        _this.user = response.data.data;
                    } else {
                        alert(response.data.message);
                    }
                } else {
                    alert("服务器错误");
                }
            })
            _this = this
            scenicId=getQueryVariable("scenicId")
            //加载景点详情数据
            axios.get(SCENIC_DETAIL_DATA_URL+"?scenicId="+scenicId).then(function (response) {
                if (response.status == 200) {
                    if (response.data.code == 0) {
                        console.log(response.data.data);
                        _this.scenicDetail = response.data.data;
                    } else {
                        alert(response.data.message);
                    }
                } else {
                    alert("服务器错误");
                }
            })
            //加载评价
            axios.get(NEW_EVALUATE_DATA_URL + "?scenicId=" + scenicId ).then(function (response) {
                if (response.status == 200) {
                    if (response.data.code == 0) {
                        _this.evaluates = response.data.data.content;
                    } else {
                        alert(response.data.message);
                    }
                } else {
                    alert("服务器错误");
                }
            })
            //3分钟后上报用户浏览数据
            setInterval(function () {
                var postData = new Object();
                postData.scenicId=scenicId;
                postData.duration=3*60*1000
                axios.post(USER_SKIM_URL,postData).then(function (res) {
                    console.log(res.status)
                })
            },3*60*1000)
        },
        methods: {
            doLogout: function () {
                axios.get(LOGOUT_URL).then(function (response) {
                    if (response.status == 200) {
                        if (response.data.code == 0) {
                            console.log(response.data.data.content);
                            window.location = LOGIN_URL;
                        } else {
                            alert(response.data.message);
                        }
                    } else {
                        alert("服务器错误");
                    }
                })
            }
        }
    });
</script>
</body>
</html>