.vote-star{
    display:inline-block;/*内联元素转换成块元素，并不换行*/
    margin-right:6px;
    width:75px;/*5个星星的宽度*/
    height:15px;/*1个星星的高度*/
    overflow:hidden;
    vertical-align:middle;
    background:url('../../img/star_blank.png') repeat-x;}
.vote-star i{
    display:inline-block;/*内联元素转换成块元素，并不换行*/
    height:15px;/*1个星星的高度*/
    background:url('../../img/star_colored.png') repeat-x 00;}
.vote-number{
    vertical-align:middle;
    font-family:微软雅黑,Verdana,Geneva, sans-serif;
    font-size:12px;}