.scenic-show-li {
    padding: 10px;
    /*background-color: aquamarine;*/
    /*border: solid 1px;*/
}

.scenic-show-li .scenic-thumbnail{
    position: relative;
    margin: 0 auto;
    font-size: 16px;
    color: white;
    width: 180px;
}
.scenic-num{
    color: #FF9900;
}
.scenic-location{
    color: #999999;
}
.scenic-show-li .scenic-thumbnail img {

    width: 180px;
    height: 100px;
    min-width: 180px;
    min-height: 100px;
}
.scenic-show-li .scenic-name {
    position: absolute;
    left:5px;
    top:75px;
}
.scenic-show-li .scenic-score {
    padding: 0 auto;
    width: 180px;
    height: 20px;
}